
/* fonts */
.f16{
  font-size: 1rem;
}

.f32{
  font-size: 2rem;
}

.f48{
  font-size: 3rem;
}

.f64{
  font-size: 4rem;
}

@font-face {
  font-family: 'Filson';
  src: url('./assets/fonts/FilsonProMedium.otf');
}